main{
    display:table;
    justify-content: center;
    margin-left: 130px;
}

@media (max-width: 768px){
    main{
        flex-direction: column;
    }
    nav{

    }
}

img{
    width:75px;
    float: left;
}
body{
    margin: 0;
    padding: 0;
    color:orange;
    background-color: rgb(252, 245, 215);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    width: 75%;
    padding-top: 9px;
}

nav ul {
    list-style: none;
    padding: 10px;
    display:inline-table;
}
nav ul li{
    text-wrap: nowrap;
    padding-top: 12px;
}

nav ul li a:hover{
    color:rgb(114, 0, 214);
}
/* Nav bar takes up 100% vertical height. */
nav{
    background-color: plum;
    width: 130px;
    height: 100%;
    margin-top:96px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
}

nav ul a{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 4px;
}
nav ul a:hover{
    background-color:rgb(150, 114, 184);
}
/* Button for side menu */
.Order{
    border-radius: 9px;
    padding: 3px;
    background-color: aliceblue;
    display: inline;
    margin-left: 20px;
    margin-bottom: 2px;
    vertical-align: center
}
/* Menu button */
h2{
    display:inline-table;
    font-size:50px;
    border: solid;
    border-radius: 9px;
    margin-left: 10%;
    text-align: center;
}
/* Image under menu */
.menu{
    float:unset;
    position:static;
    width: 130px;
    padding: 5px;
}
h2 a{
    text-decoration: none;
    color:orange;
}
main ul{
    list-style: none;
    position: relative;
}

main ul li{
    text-align: center;
    display: inline-table;
    background-color: rgb(182, 240, 248);
    border-radius: 9px;
    width: 12px;
    font:large;
    color: chocolate;
    margin:10px;
    font-size:20px;
}
/* button under each menu in the main section */
main .Order{
    float:right;
    vertical-align: top;
}